<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260675692845-rsk1e29s16sib80av71i46netrb0pu8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260675692845-rsk1e29s16sib80av71i46netrb0pu8o</string>
	<key>API_KEY</key>
	<string>AIzaSyBVVBEO6IAZdF9wlb4S3qhv7xRkgoaGDDY</string>
	<key>GCM_SENDER_ID</key>
	<string>260675692845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>arnaavv.Threads-Clone</string>
	<key>PROJECT_ID</key>
	<string>threadsclone-bbd06</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsclone-bbd06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260675692845:ios:d076f26407b07b726fcba4</string>
</dict>
</plist>